footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(var(--v-theme-surface));
    color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
    padding: auto;
}
body {
    overflow-x: scroll;
}
h1 {
    font-weight: 300;
    font-size: 64px;
    text-align: center;
    margin: 2.5% auto;
}
#container {
    margin: 0 auto;
}

#sidebar {
    float: right;
    width: 200px;
}

#content {
    overflow-x: scroll;
}